body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  width: auto;
}

a {
  color: #000;
}

h1 {
  margin: 0px;
}

img {
  max-width: 100%;
}

/* header start */

.header {
  background-color: #161513;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  width: 100%;
  z-index: 3;
  height: 60px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #161513;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #ffffff;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #ee3c00;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.5em;
  padding: 15px 20px;
  text-decoration: none;
  color: #ffffff;
  margin-left: 30px;
}

.logo span {
  color: #EE3C00;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.btn {
  display: inline-block;
  padding: 11px 37px 11px 37px !important;
  margin: 7px;
  border-radius: 50px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: capitalize;
  border: 1px solid transparent;
  background-color: #EE3C00;
}

.btn p {
  margin: 0;
}

.icon-get {
  padding-right: 6px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 18px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-right: 30px;
  }
  .header .menu-icon {
    display: none;
  }
}

header {
  display: block;
}

/* Top Cover Section */

.section1 {
  z-index: 1;
  background: url(https://colorlib.com/pixova-lite/wp-content/themes/pixova-lite/layout/images/header-bg.jpg) no-repeat right center;
  background-size: cover;
  height: 400px;
  text-align: center;
  padding: 40px;
  color: #fff;
}

.home-box div {
  -webkit-flex: 1;
  /* Safari 6.1+ */
  -ms-flex: 1;
  /* IE 10 */
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  padding-top: 50px;
  position: absolute;
  left: 30%;
  top: 15%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-top: 10px;
}

.feature--item {
  padding: 20px 0px 10px 0px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  border: 1px solid #676767;
  border-radius: 5px;
  width: 150px;
}

.feature__url {
  text-decoration: none;
  color: #fff;
}

.align-center {
  position: relative;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  top: 50%;
}

.section2--content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  padding: 50px 0px 50px 50px;
}

.section2--info,
.section2--img {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 10px;
  padding-right: 15px;
}

.section2--heading {
  line-height: 1.3em;
  color: #484340;
}

#section2--para {
  margin-top: 1px;
  line-height: 1.4em;
}

.section3 {
  background-color: #F7F7F7;
  height: auto;
  text-align: center;
}

.section3--header,
.section4--header {
  font-weight: 100;
  padding-top: 50px;
  margin: 0;
  padding-bottom: 10px;
}

.section4--subhead {
  font-weight: 100;
  margin: 0;
}

.row2 {
  display: flex;
  flex-direction: row;
  margin: 0 35px 0 35px;
  padding-bottom: 150px;
}

.testimonial {
  background-color: #ffffff;
  margin-right: 15px;
  border-radius: 30px;
  position: relative;
  box-shadow: 1px 5px 5px #cccaca9e;
  height: 170px;
}

.testimonial__p {
  padding: 15px;
  line-height: 1.5em;
}

.testimonial__p::before {
  content: '"';
  color: #EE3C00;
  font-weight: bold;
  font-size: 45px;
}

.arrow-down {
  top: 146px;
  height: 45px;
  width: 45px;
  left: 60px;
  background-color: #ffffff;
  position: absolute;
  transform: rotate(45deg);
  box-shadow: 2px 2px 2px #adadad7a;
}

.testimonial__info {
  left: 0px;
  top: 200px;
  position: absolute;
  display: flex;
  flex-direction: row;
}

.testimonial__info img {
  border: 1px #b1b1b1d4 solid;
  width: 55px;
  border-radius: 50%;
  padding: 6%;
}

.testimonial__img {
  margin-right: 20px;
}

.testimonial__author {
  text-align: left;
  color: #726E6B;
}

.section4 {
  background-color: #323335;
  height: auto;
  text-align: center;
  color: #ffffff;
}

.contactform {
  margin: auto;
  width: 57%;
  padding: 15px;
}

.contactform__input {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1ch;
}

.contactform__field {
  padding: 5px 60px 10px 10px;
  border-radius: 4px;
  font-size: 13px;
  border: 1px solid transparent;
}

.contactform__txtfield {
  width: 89%;
  margin-top: 15px;
  height: 60px;
}

.footer {
  background-color: #171616;
  height: auto;
  color: #a59d9d;
  padding: 30px;
}

.footer--text {
  margin: 0;
  display: inline;
}

.footer--icons {
  display: inline;
  float: right;
}

.footer--url {
  color: #a59d9d;
}

@media (max-width: 1200px) {
  .row {
    width: 60%;
    left: 20%;
    top: 15%;
  }
}

@media (max-width: 913px) {
  .section2--content,
  .row2 {
    flex-direction: column;
  }
  .testimonial {
    margin: 0px 0px 108px 0px;
  }
  .row2 {
    padding-bottom: 0px;
  }
  .contactform__input {
    grid-template-columns: 0;
  }
}

@media (max-width: 840px) {
  .header .logo {
    font-size: 1.2em;
    padding: 15px 0px;
  }
  .row {
    padding-top: 30px;
    left: 0%;
    width: 100%;
    position: static;
    top: 0%;
  }
  .footer {
    text-align: center;
  }
  .footer--icons {
    float: none;
  }
}

@media (max-width: 375px) {
  .row {
    padding-top: 30px;
    left: 3%;
    width: 100%;
    position: absolute;
    top: 20%;
  }
}