body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #ffffff;
}

a {
  color: #000;
}
 h1 {
   margin: 0px;
 }
/* header start */

.header {
  background-color: #161513;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  width: 100%;
  z-index: 3;
  height: 60px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color:#161513;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #ffffff;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #ef3838;
}

.header .logo {
  display: block;
  float: left;
  font-size: 1.5em;
  padding: 15px 20px;
  text-decoration: none;
  color: #ffffff;
  margin-left: 30px;
}

.logo span {
  color: #EE3C00;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.btn_1 {
  display: inline-block;
  padding: 11px 37px 11px 37px!important;
  margin: 7px;
  border-radius: 50px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-transform: capitalize;
  border: 1px solid transparent;
  background-color: #EE3C00;
} 

.icon-get {
  padding-right: 6px;
}
/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}



/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 18px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-right: 30px;
  }
  .header .menu-icon {
    display: none;
  }
}
header {
  display: block;
}
/* Top Cover Section */

.home_banner_area {
  z-index: 1;
  background: url(https://colorlib.com/pixova-lite/wp-content/themes/pixova-lite/layout/images/header-bg.jpg) no-repeat right center;
  background-size: cover;
  height: 400px;
  text-align: center;
  padding: 40px;
}

.home-box div {
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */  
  flex: 1;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  padding-top: 50px;
  position: absolute;
  left: 30%;
  top: 15%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 10px;
}

.feature_item {
  padding: 20px 0px 10px 0px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .4s ease 0s;
  -moz-transition: all .4s ease 0s;
  -o-transition: all .4s ease 0s;
  transition: all .4s ease 0s;
  border: 1px solid #676767;
  border-radius: 5px;
  width: 150px;
}

.feature_item a{
  text-decoration: none;
  color: #fff;
}

.align-center {
  position: relative;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  top: 50%;
}

.section-con {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    padding: 50px 0px 50px 50px;
}

.section-content, .section-img {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 10px;
}

#section-p-1 {
  margin: 0px;
}

#section-p-2 {
  margin-top: 1px;
}

.section-3 {
  background-color:#F7F7F7;
  height: auto;
  text-align: center;
}

.sec-3-head {
  font-weight: 100;
  padding-top: 50px;
}

.row2 {
  display: flex;
  flex-direction: row;
  margin: 0 35px 0 35px;
  padding-bottom: 150px;
}

.testimonial {
  background-color: #ffffff;
  margin-right: 15px;
  border-radius: 30px;
  position: relative;
}

.testimonial-p {
  padding: 15px;
}
.testimonial-p::before { 
  content: '"';
  color: #EE3C00;
  font-weight: bold;
  font-size: 45px;
}

.arrow-down {
  top: 142px;
  height: 45px;
  width: 45px;
  left: 60px;
  background-color: #ffffff;
  position: absolute;
  transform: rotate(45deg);
}

.testimonial_info {
  left: 0px;
  top: 200px;
  position: absolute;
  display: flex;
  flex-direction: row;
}
.testimonial_info img {
  border: 3px #EE3C00 solid;
  width: 56px;
  border-radius: 50%;
  padding: 4%;
}
.testimonial_img {
  margin-right: 20px;
}
.testimonial_author{
  text-align: left;
  color: #726E6B;
}